# Python default ignores
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
venv/
venv311/
.venv
env/

# Environment files
.env

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store